# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List Popular languages for Data Science
- Libraries, APIs, Datasets, and Models
- Working with files in Jupyter Notebook
- Plotting RStudio
- GitHub Repositories

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. SciPy
3. Numpy
4. Matpotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|in

### Below are a few examples of evaluating arithmetic expressions in Python

In [44]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [40]:
#This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(hours)

3.3333333333333335

## Author
Laxmi Prasad Khatiwoda